@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* header section */
header {
  width: 100%;
  height: auto;
}

header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

header #logo img {
  height: 35px;
}

header .location {
  background-color: #EAEAEA;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 7px 10px -10px #353535;
          box-shadow: inset 0px 7px 10px -10px #353535;
}

header .location i, header .location p {
  font-size: 1.2rem;
}

header .location i {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #logo {
    width: 50%;
  }
  header .location {
    width: 50%;
  }
}

#intro-sec button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
  background: linear-gradient(to top, #a16be0, #ff93e1);
  -webkit-box-shadow: 0px 5px 10px #888888;
          box-shadow: 0px 5px 10px #888888;
}

/* padding sections: Fonctionnement and Restaurants*/
/* header section */
#intro-sec {
  height: auto;
  padding: 40px 40px 55px 40px;
  background-color: #f6f6f6;
  text-align: center;
}

#intro-sec h1 {
  font-size: 1.6rem;
}

#intro-sec p {
  margin: 15px 0 30px 0;
  font-size: 1.1rem;
  font-weight: 200;
}

#intro-sec button {
  padding: 18px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px #bbb;
          box-shadow: 0px 5px 10px #bbb;
  -webkit-transition: background 900ms, -webkit-box-shadow 500ms;
  transition: background 900ms, -webkit-box-shadow 500ms;
  transition: background 900ms, box-shadow 500ms;
  transition: background 900ms, box-shadow 500ms, -webkit-box-shadow 500ms;
}

/* Fonctionnememnt section */
#fonctionnement-sec {
  width: 100%;
  height: auto;
  padding: 3rem 2rem 4rem 2rem;
}

#fonctionnement-sec .operation-list-group {
  background: #f6f6f6;
  margin-top: 25px;
  height: 80px;
  border-radius: 25px;
  position: relative;
  -webkit-box-shadow: 0px 5px 18px -7px #bbb;
          box-shadow: 0px 5px 18px -7px #bbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fonctionnement-sec .operation-list-group span {
  position: absolute;
  left: -12px;
  width: 25px;
  height: 25px;
  background: #9356DC;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fonctionnement-sec .operation-list-group i {
  color: #686868;
  font-size: 20px;
  position: absolute;
  left: 10%;
}

#fonctionnement-sec .operation-list-group p {
  color: #000;
  font-weight: 500;
}

#fonctionnement-sec .last-operation-list-group {
  background: #f2eafb;
}

#fonctionnement-sec .last-operation-list-group .icon-primary-color {
  color: #9356DC;
}

@media screen and (min-width: 768px) {
  #fonctionnement-sec {
    padding: 3rem 4rem 4rem 4rem;
  }
}

@media screen and (min-width: 900px) {
  #fonctionnement-sec .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #fonctionnement-sec .operation-list-group {
    width: 27vw;
  }
  #fonctionnement-sec p {
    margin-left: 30px;
  }
}

/*  Restaurants Section */
@-webkit-keyframes scale {
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scale {
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

#restaurants {
  background: #f6f6f6;
  padding: 3rem 2rem 4rem 2rem;
}

#restaurants .wrapper {
  margin-top: 25px;
}

#restaurants .wrapper .restaurant-list-group {
  color: #000;
  height: 290px;
  background: #fff;
  margin-bottom: 25px;
  border-radius: 15px;
}

#restaurants .wrapper img {
  width: 100%;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
}

#restaurants .wrapper .restaurant-details {
  padding: 15px;
  position: relative;
}

#restaurants .wrapper .restaurant-details p {
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: 300;
}

#restaurants .wrapper .restaurant-details .far {
  position: absolute;
  font-size: 1.6rem;
  right: 20px;
  top: 20px;
}

#restaurants .wrapper .restaurant-details .far:active {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
  color: transparent;
  -webkit-animation: scale 1s forwards;
          animation: scale 1s forwards;
}

#restaurants .wrapper .restaurant-details small {
  position: absolute;
  background: #99E2D0;
  padding: 12px;
  right: 10px;
  top: -200px;
  color: #2c9c81;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #restaurants {
    padding: 3rem 4rem 4rem 4rem;
  }
  #restaurants .wrapper {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
  }
  #restaurants .wrapper .restaurant-list-group {
    margin-bottom: 0px;
  }
  #restaurants .wrapper .restaurant-list-group .far:hover {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    color: transparent;
    -webkit-animation: scale 1s forwards;
            animation: scale 1s forwards;
  }
}

footer {
  background-color: #353535;
  padding: 1.8rem;
  font-size: 1rem;
  font-weight: normal;
}

footer img {
  height: 20px;
  margin-bottom: 20px;
}

footer .footer-list {
  padding-bottom: 10px;
}

footer .footer-list a {
  color: #fff;
  font-style: normal;
}

footer .footer-list a:hover {
  text-decoration: underline;
}

footer .footer-list .fas {
  margin-right: 7px;
  font-size: 0.7rem;
}

@media screen and (min-width: 410px) {
  footer .wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (50%)[2];
    -ms-grid-columns: (50%)[2];
        grid-template: repeat(2, 50%)/repeat(2, 50%);
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding: 3rem 4rem 4rem 4rem;
  }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.fa-arrow-left {
  position: absolute;
  left: 40px;
  top: 25px;
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */