
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$bright-gray: #eaeaea;
$white-smook: #f6f6f6;
$night-rider: #353535;
$box-shadow-color: #bbb;
$white: #fff;
$black: #000;

/* padding sections: Fonctionnement and Restaurants*/

$padding-sec-under-768: 3rem 2rem 4rem 2rem;
$padding-sec-above-768: 3rem 4rem 4rem 4rem;